<h1>Dashboard Home</h1>


<h1>Assignments</h1>
 
<table>
  <tr>
    <th>Assignment</th>
    <th>Score</th>
    <th>Total</th>
    <th>Date Assigned</th>
    <th>Date Turned Im</th>
    <th>Fileaname</th>
    <th>Content</th>
    <th>File Type</th>
  </tr>
 
<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.assignment_title %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>